@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Box-Sizing Reset: All Elements are border-box by default */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Gloabl Styles */
body {
  background-color: #f5f5f5;
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  min-height: 100vh;
}

main {
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100vw;
}

.portrait {
  border: 3px solid white;
  border-radius: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #A6BC09;
  font-family: "Inconsolata", monospace;
  font-weight: 800;
  font-style: normal;
  /* text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.8); */
}

h2 {
  color: black;
  font-family: "Alegreya", serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1.8rem;
}

h3 {
  font-size: 2rem;
}

.nav-container {
  justify-content: space-between;
}

.nav-item {
  text-align: center;
}

a {
  color: inherit;
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
}

svg {
  transition: fill 0.2s ease;
}

svg.hovered {
  fill: #9C2013;
}

.not-found {
  font-weight: 300;
  text-align: center;
}

/* * --- Media Queries --- * */
/* Small Phones */
@media only screen and (max-width: 480px) {
  .profile-container {
    flex-direction: column;
    gap: .75rem;
  }

  .portrait {
    width: 180px;
  }

  h1 {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  h2 {
    font-size: 1.8rem;
  }

  a {
    font-size: 0.8rem;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}

/* Larger Phones and Small Tablets */
@media only screen and (min-width: 481px) and (max-width: 599px) {
  .profile-container {
    flex-direction: row;
    gap: .75rem;
  }

  .portrait {
    width: 180px;
  }

  h1 {
    font-size: 2.5rem;
    white-space: nowrap;
  }

  h2 {
    font-size: 1.8rem;
  }

  a {
    font-size: 0.8rem;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .profile-container {
    flex-direction: row;
    gap: 1.5rem;
  }

  .portrait {
    width: 250px;
  }

  h1 {
    font-size: 2.8rem;
    white-space: nowrap;
  }

  h2 {
    font-size: 2.1rem;
  }

  a {
    font-size: 0.8rem;
  }

  svg {
    height: 40px;
    width: 40px;
  }
}

/* Large Landscape Tablets and Small Desktop */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .profile-container {
    flex-direction: row;
    gap: 2rem;
  }

  .portrait {
    width: 250px;
  }

  .info {
    width: 400px;
  }

  h1 {
    font-size: 3rem;
    white-space: nowrap;
  }

  h2 {
    font-size: 2.3rem;
  }

  a {
    font-size: 0.8rem;
  }

  svg {
    height: 50px;
    width: 50px;
  }
}

/* Default Desktop */
@media (min-width: 1025px) {
  .profile-container {
    flex-direction: row;
    gap: 2.5rem;
  }

  .portrait {
    width: 300px;
  }

  .info {
    width: 450px;
  }

  h1 {
    font-size: 3.2rem;
    white-space: nowrap;
  }

  h2 {
    font-size: 2.6rem;
  }

  a {
    font-size: 1rem;
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

